*{
    margin: 0%;
    box-sizing: border-box;
}

body{
background-color: aquamarine;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
 font-family:"outfit" sans-serif;
}

.DOG{
   width: 320px;
    padding: 16px;
   border-radius: 19px; 
   background-color: white;
   box-shadow: rgba(10, 2, 2, 0.921);
}
.DOG>img{
    width: 100%;
    border-radius: 10px;
}
.para{
    text-align: center;
    margin: 20px 88;
}